<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    bsabjbj
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/base.css">

<header id="main-header">
  <nav>
    <ul>
      <li id="margin"><img src="/images/leadflix.png" alt="" id="logo"></li>
      <li><a href="/signup">Signup</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/admin">Admin</a></li>
      <li>
        <form action="/logout" method="POST">
          <button>Logout</button>
        </form>
      </li>
    </ul>
  </nav>
</header>
</head>
</html>