html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

main {
  margin: 2rem auto;
  /* width: 90%; */
  /* max-width: 40rem; */
  text-align: center;
}

a {
  color:rgb(70, 0, 128);
}

a:hover,
a:active {
  color: rgb(113, 0, 128);
}

#main-header {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41,38,228);
  padding: .5rem;
}

#main-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-header li {
  margin: 0 1rem;
}

#main-header a {
  text-decoration: none;
  color: white;
}

#main-header button {
  font: inherit;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: white;
  padding: 0;
}

#main-header a:hover,
#main-header a:active,
#main-header button:hover,
#main-header button:active {
  background-color:  rgb(17, 15, 189);
  padding: .5rem;
  border-radius: 10px;
}

.btn {
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  background-color:  rgb(41,38,228);
  border: 1px solid  rgb(41,38,228);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  margin-top:1rem;
}


.btn:hover,
.btn:active {
  background-color:  rgb(17, 15, 189);
  border-color:   rgb(17, 15, 189);
}

.btn.btn-alt {
  background-color: transparent;
  border: none;
  color:  rgb(17, 15, 189);
  
  
}

.btn.btn-alt:hover,
.btn.btn-alt:active {
  background-color:   rgb(126, 124, 222);
}
#signup{
  width: 25%;
  height: 55vh;
transition: width 3s,height 4s;
transition-delay: 1s;

}
#signup:hover{
  width: 28%;
  height: 58vh;
  cursor: pointer;
}
#login{
  width: 22%;
  height: 47vh;
transition: width 3s,height 4s;
transition-delay: 1s;

}
#logo{
  height:10vh;
  width:80%;
  transition: width 2s, height 2s, transform 2s;
  object-fit: cover;
  border-radius: 150px;

}
#logo:hover{
  height: 10vh;
  width:100%;
  transform: rotate(360deg);
  cursor: pointer;
}
#margin{
  position: relative;
  top:0rem;
  right: 33rem;
}

#login:hover{
  width: 28%;
  height: 50vh;
  cursor: pointer;
}